          <%@title = "Sign Up" %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%#= devise_error_messages! %>
                <div class="row links">
                    <div class="col s6 logo"><img alt=""></div>
                    <div class="col s6 right-align"><a href=<%="/#{resource_name.to_s.pluralize}/sign_in"%>>Sign In</a> / <strong>Sign Up</strong></div>
                </div>
                <div class="card-panel">
                    <div class="row socials">
                        <div class="col s4"><a class="btn blue darken-2 z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
                        <div class="col s4"><a class="btn blue lighten-2 z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
                        <div class="col s4"><a class="btn red z-depth-0 z-depth-1-hover" href="#"><i class="fa fa-2x fa-google-plus"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12">
                            <div class="input-field"><i class="fa fa-user prefix"></i>
                              <%= f.text_field :first_name, class: "tooltipped", data: { regex: "^[A-Za-z]+$", tooltip: "Name should only contain alphabets and shouldn't be blank", position: "bottom", delay: "25" } %>
                                <label for="user_first_name">First Name</label>
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <div class="input-field"><i class="fa fa-user prefix"></i>
                              <%= f.text_field :last_name, class: "tooltipped", data: { regex: "^[A-Za-z]+$", tooltip: "Name should only contain alphabets and shouldn't be blank", position: "bottom", delay: "25" }  %>
                                <label for="user_last_name">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-field"><i class="fa fa-envelope prefix"></i>
                        <%= f.email_field :email, class: "tooltipped", data: { regex: "\\A[^@]+@[^@]+\\z", tooltip: "Enter a valid email", position: "bottom", delay: "25" } %>
                        <label for="user_email">Email</label>
                    </div>
                    <div class="input-field"><i class="fa fa-unlock-alt prefix"></i>
                        <%= f.password_field :password, autocomplete: "off", class: "tooltipped", data: { regex: ".{8,}", tooltip: "Enter a valid password", position: "bottom", delay: "25" } %>
                        <label for="user_password">
                          Password
                          <% if @validatable %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %>
                        </label>
                    </div>
                    <div class="input-field"><i class="fa fa-unlock-alt prefix"></i>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "tooltipped", data: { regex: ".{8,}", tooltip: "Passwords should match", position: "bottom", delay: "25" } %>
                        <label for="user_password_confirmation">
                          Confirm Password
                        </label>
                    </div>
                    <div class="input-field"><i class="fa fa-calendar prefix"></i>
                      <%= f.date_field :date_of_birth, autocomplete: "off", :class => "datepicker" %>
                        <label for="user_date_of_birth">
                          Date of Birth
                        </label>
                    </div>
                    <div class="row">
                      <div class="col s4" style="margin-top:1.5rem"><h5>Gender</h5></div>
                      <div class="col s8">
                        <div class="input-field">
                          <%= f.select :gender, { "Male" => "male", "Female" => "female" } %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s4" style="margin-top:1.5rem"><h5>Year of Joining</h5></div>
                      <div class="col s8">
                        <div class="input-field">
                            <%= f.select :year_of_joining, 20.times.collect { |p| [p+2012, p+2012] } %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s4" style="margin-top:1.5rem"><h5>Branch</h5></div>
                      <div class="col s8">
                        <div class="input-field">
                            <%= f.select :branch, { "Biotechnology" => "BT", "Chemical" => "CHE", "Civil" => "CE", "Computer Sc" => "CSE", "Electronics" => "ECE", "Electrical" => "EE", "Information Technology"=> "IT", "Mechanical" => "ME", "Metallurgy" => "MME" } %>
                        </div>
                      </div>
                    </div>
                    <div class="input-field"><i class="fa fa-phone prefix"></i>
                      <%= f.text_field :contact_number, class: "tooltipped", data: { regex: "^[0-9]{10}$", tooltip: "Enter a valid contact number", position: "bottom", delay: "25" } %>
                        <label for="user_contact_number">Contact Number</label>
                    </div>
                    <div class="input-field"><i class="fa fa-home prefix"></i>
                      <%= f.text_area :address, class: "materialize-textarea tooltipped", data: { regex: ".+", tooltip: "Please enter a valid address", position: "bottom", delay: "25" } %>
                        <label for="user_address">Address</label>
                    </div>
                    <div class="input-field">
                      <h5>Hobbies</h5>
                      <%= f.check_box :hobbies, { multiple: true }, "Sports", nil %><label for="user_hobbies_sports">Sports</label>
                      <%= f.check_box :hobbies, { multiple: true }, "Music", nil %><label for="user_hobbies_music">Music</label>
                      <%= f.check_box :hobbies, { multiple: true }, "Dance", nil %><label for="user_hobbies_dance">Dance</label>
                      <%= f.check_box :hobbies, { multiple: true }, "Reading", nil %><label for="user_hobbies_reading">Reading</label>
                    </div>
                    <br />
                    <br />
                    <div class="file-field input-field">
                      <input class="file-path validate" type="text"/>
                      <div class="btn">
                        <span>File</span>
                        <input type="file" />
                      </div>
                    </div>
                    <p>
                        <input type="checkbox" id="checkbox_terms">
                        <label for="checkbox_terms">I agree to the <a href="#">terms of use</a>.</label>
                    </p>
                    <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover modal-trigger" href="#modal1">Sign Up</button>
                </div>
              <% end %>

              <!-- Modal Structure -->
              <div id="modal1" class="modal z-depth-4 blue lighten-2 white-text">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
                <div class="action-bar">
                  <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
                </div>
              </div>