<% @title = "Students | Student Information System" %>
        <div class="row sortable">
            <% @students.each do |student| %>
            <div class="col s12 l4">
                <div class="card z-depth-1 z-depth-3-hover">
                    <div class="content">
                        <a class="delete-user btn-floating btn-small grey lighten-2 close tooltipped" href="#" style="float:right" data-position="bottom" data-delay="25" data-tooltip="Delete user" data-id="<%= student.id %>">
                          <i class="mdi-content-clear grey-text lighten-1-text"></i>
                        </a>
                        <div class="row no-margin-top" style="margin-top:0 !important;">
                            <div class="col s12 l3" style="padding-top:15px">
                            <%= image_tag student.avatar.url, class: "tooltipped center-align z-depth-3 z-depth-4-hover circle", style: "width:100px;height:100px", data: { params: student, img_src: student.avatar.url, delay: "25", tooltip: "View user details", placement: "bottom" } %>
                            </div>
                            <div class="col s12 l8 offset-l1">
                                <h3><%= student.first_name + " " + student.last_name %></h3>
                                <div class="row">
                                    <div class="col s1">
                                        <h4><i class="fa fa-sitemap teal-text text-lighten-2"></i></h4>
                                    </div>
                                    <div class="col s2" style="margin-top:5px;margin-left:10px">
                                        <h5><i> <%= student.branch %> </i></h5>
                                    </div>
                                    <div class="col s1">
                                        <h4><i class="fa fa-graduation-cap teal-text text-lighten-2"></i></h4>
                                    </div>
                                    <div class="col s6" style="margin-top:5px;margin-left:10px">
                                        <h5><i> <%= student.roll_no %> </i></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s1">
                                        <h4><i class="fa fa-phone teal-text text-lighten-2"></i></h4>
                                    </div>
                                    <div class="col s10" style="margin-top:5px;margin-left:10px">
                                        <h5><i> <%= student.contact_number %> </i></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
<% content_for :scripts do %>
    <%= stylesheet_link_tag "registration.css" %>
    <%= javascript_include_tag "registration_script.js" %>
    <script>
        $("img").click(function(){
            form_data_child = $(this).data("params");
            form_data = {};
            form_data["user"] = form_data_child;
            form_data["authenticity_token"] = "<%= form_authenticity_token %>";
            img_src = $(this).data("img-src");
            $.ajax(
            {
                url: "/confirm",
                data: form_data,
                success: function(data)
                {
                    $("#confirmation-dialog").remove();
                    $("body").append(data);
                    $(".contact-card-profile-img").attr("src", img_src);
                    $("#btn-sign-up").parent().remove();
                    $("#btn-sign-up-cancel").parent().removeClass("s3").addClass("offset-s4").addClass("s4");
                    $("#confirmation-dialog").openModal();
                    $("body").animate({scrollTop:0}, '1000');
                },
                type: 'post'
            });
        });
        $(".delete-user").click(function(){
            form_data = {};
            form_data["user"] = $(this).data("id");
            form_data["authenticity_token"] = "<%= form_authenticity_token %>";
            element = $(this);
            $.ajax(
            {
                url: "/destroy",
                data: form_data,
                success: function(data)
                {
                    $(element).parent().parent().parent().remove();
                },
                type: 'post'
            });
        });
    </script>
<% end %>
<% content_for :breadcrumbs do %>
                        <ul>
                            <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i></li>
                            <li><a href="/students"><i class="fa fa-indent"></i> Students </a>
                            <% if params[:branch] %>
                            </li><i class="fa fa-angle-right"></i> <li><a href="/students/<%=params[:branch]%>"><i class="fa fa-gears"></i> <%=params[:branch]%></a></li>
                            <% else %>
                            </li>
                            <% end %>
                        </ul>

<% end %>