<!DOCTYPE html>
<html>
    <head>
        <%= render partial: 'layouts/head' %>
    </head>

    <body>
        <section id="sign-up">
        <%=yield%>
        </section>
        <%= javascript_include_tag "_con/js/_demo.js" %>
        <%= javascript_include_tag "js/script.js" %>
        <%= javascript_include_tag "markitup/sets/default/set.js" %>
        <%= stylesheet_link_tag "markitup/skins/_con/style.css" %>
        <%= stylesheet_link_tag "markitup/sets/default/style.css" %>
    </body>
</html>