<!DOCTYPE html>
<html>
    <head>
        <%= render partial: 'layouts/head' %>
    </head>

    <body>
        <section id="sign-up">
        <%=yield%>
        </section>
        <%= render partial: 'layouts/footer' %>
        <%= stylesheet_link_tag "registration.css" %>
        <%= javascript_include_tag "registration_script.js" %>
    </body>
</html>